*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Century Gothic';
    /* background: url(image.jpg); */
}
.nav
{
    padding: 30px; 
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.366);
    cursor: pointer;
    z-index: 1;
}
header
{
    background-color: black;
    margin: 0;
    padding: 40px;
    
}
#myVideo
{
    z-index: 2;
    
}
.nav-logo
{
    height: 100px;
    width: 154px;
    
}
h1
{
    /* color: white; */
    
}
.navbar-links
{
    
    text-align: center;

}
.nav-link
{
   
}
a
{
    font-size: 20px;   
    text-decoration: none;
    padding: 20px;
    color: rgb(255, 255, 255);
}
.navbar-brand
{
    font-size: 30px;
    
}



/* contact Section */

